@media (max-width: 1000px) {
    .catalouge {height: auto;}

    .catalouge__substrate {
        height: 40vw;
        width: 55vw;
    }
      
    .catalouge__card-box {
        height: auto;
        flex-wrap: wrap;
    }
      
    .card {
        flex-basis: 50%;
        padding: 5vw 0 5vw 0;
        align-items: center;
    }

    .card__image > img {
        height: 40vw;
        width: 30vw;
    }
      
    .card__title-1,
    .card__title-2,
    .card__title-3,
    .card__title-4 {font-size: 3vw;}

    .card__title-1 svg {left: 9vw;}
      
    .card__title-2 svg {left: 13.5vw;}
    
    .card__title-3 svg {left: 12vw;}
      
    .card__title-4 svg {left: 14vw;}
}

@media (max-width: 800px) {
    .about {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
      
    .about__image {
        width: 90%;
        height: 50vw;
    }
            
    .about__text {
        height: 100%;
        width: 90%;
        margin-top: 2vw;
    }
      
    .about__title {
        margin-top: 2vw;
        font-size: 3vw;
    }
      
    .about__paragraphs {
        display: flex;
        justify-content: space-evenly;
        text-align: left;
        margin: 2vw 0;
        width: 90%;
    }

    .about__paragraphs p {
        width: 45%;
        font-size: 2vw;
        margin: 0;
    }
      
    .button {
        font-size: 1.8vw;
        margin: 2vw auto;
    }
      
    .footer {
        height: auto;
    }
      
    .footer__left-side {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        margin: 2vw 0;
    }

    .footer__right-side {
    }

    .footer__title{
        font-size: 3vw;
    }
      
    .footer__text {
        line-height: 2em;
        font-size: 2.3vw;
    }
      
    .logo {display: none;}
        
    .footer__sns-icon > img {
        height: 3vw;
        width: 3vw;
        padding: 0 2vw 0 2vw;
    }  
}