body {
    margin: 0;
}

.topmenu {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    background: rgba(233, 224, 224, 0.05);
    padding: 0 4vw;
    color: #fff;
    z-index: 1;
  }

.shop-name {
    float: left;
  }
  
.shop-name h2 {
    font-size: 2.5vw;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40vw;
    width: 50vw;
    padding-right: 8vw;
    font-size: 1.2vw;
    padding: 1vw 0 0 0;
  }
  
  .menu li {
    list-style: none;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    padding: 1vw 5vw;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  
  .menu li:hover {
    background-color: rgb(17, 57, 54);
    color: #d998aa;
    transition: all 0.3s ease;
    }
  
  .menu li a:hover {
    color: #d998aa;
    transition: all 0.3s ease;
  }
  
  .submenu {
    position: absolute;
    left: -40px;
    top: 100%;
    width: 100%;
    display: none;
  }
  
  .submenu li {
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
    border-left: 1px solid #fff;
  }

  .submenu li a:hover {
    color: rgb(17, 57, 54);
  }

  .menu li:hover .submenu {
    display: block;
  }
  
  .menu li:hover .submenu li {
    background: none;
}

.gips {
    height: 50vw;
    position: relative;
    z-index: 1;
}  

.gips .pink-box {
    background-color: #d998aa;
    height: 50%;
}

.gips .grin-box {
    background-color: rgb(17, 57, 54);
    height: 50%;
}

.gips img {
    position: absolute;
    top: 0;
    left: 25%;
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    height: 50vw;
    width: 50vw;
}

.gips-text {
    position: absolute;
    top: 9%;
    left: 3%;
    font-size: 10vw;
    padding: 15vw 15vw;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 0.15em;
    font-weight: normal;
    text-align: center;
}

.gips-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vw;
    text-align: center;
    position: relative;
}

.grin-circle {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(17, 57, 54, 0.9);
    height: 20vw;
    width: 20vw;
    filter: blur(3.5rem);
}

.pink-circle {
    position: absolute;
    top: -20vw;
    left: 45vw;
    border-radius: 50%;
    background-color: #d998aa;
    height: 50vw;
    width: 50vw;
    filter: blur(3rem);
}

.grin-circle2 {
    position: absolute;
    top: 25vw;
    right: -10vw;
    border-radius: 50%;
    background-color: rgba(17, 57, 54, 0.9);
    height: 20vw;
    width: 20vw;
    filter: blur(3.5rem);
}

.gips-description h1 {
    font-size: 4vw;
    color: rgb(14, 48, 45);
    border-bottom: 2px solid rgb(14, 48, 45);
    margin: 0 20vw 2vw 20vw;
    padding: 3vw;
    z-index: 1;
}

.gips-description p {
    line-height: 1.5;
    color: rgb(14, 48, 45);
    font-size: 2vw;
    margin: 0 15vw 0 15vw;
    z-index: 1;
}

.card-box {
    display: flex;
    justify-content: space-evenly;
    height: 50vw;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    width: 20vw;
    min-height: 25vw;
}

.card:hover {
    box-shadow: 4px 8px 16px rgba(11, 63, 28, 0.2);
}

.card-image {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 79%;
}


.card-image > img {
    width: 20vw;
    height: 20vw;
    object-fit: contain;
    transition: 0.2s;
}

.card-image:hover > img {
    transform: scale(1.1);
}

.card-bottom {
    padding: 10px;
}
  
.card-prices {
    margin-bottom: 0.3vw;
    font-size: 1.7vw;
}

.card-prices:after {
    content: "₽";
    margin-left: 4px;
    position: relative;
  }

.card-title {
    display: block;
    margin-bottom: 0.3vw;
    font-weight: 400;
    font-size: 1vw;
    line-height: 150%;
    color: #414141;
}
  
.card-title:hover {
    color: #1a6c3e;
}