* {
  margin: 0;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vw;
  background: rgba(233, 224, 224, 0.05);
  padding: 0 4vw;
  color: #fff;
  z-index: 1;
}

.header__logo {float: left;}
  
.logo {font-size: 2.5vw;}
  
.header__topmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 40vw;
  width: 50vw;
  padding-right: 8vw;
  font-size: 1.2vw;
  padding: 1vw 0 0 0;
}
  
.header__topmenu-item {
  list-style: none;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  padding: 1vw 5vw;
}
  
.header__topmenu-item a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
  
.header__topmenu-item:hover {
  background-color: #738a78;
  color: #ccc99c;
  transition: all 0.3s ease;
}
  
.header__topmenu-item a:hover {
  color: #ccc99c;
  transition: all 0.3s ease;
}
  
.header__submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: none;
}
  
.header__submenu-link {
  text-align: left;
  padding: 10px;
  margin-bottom: 5px;
  border-left: 1px solid #fff;
}
.header__topmenu-item:hover .header__submenu {display: block;}

.header__submenu-link:hover {border-left: 1px solid #738a78;}

.header__submenu-link a:hover {color:#738a78;}

.header__topmenu-item:hover .header__submenu-link:hover {background-color: #ccc99c;}

.cover {
  position: relative;
  height: 50vw;
}

.cover__background-image > img {
  width: 100%;
  height: 50vw;
}

.cover__title {
  position: absolute;
  top: 10vw;
  left: 8vw;
  color: #738a78;
  font-size: 7vw;
  line-height: 1.5;
  background-color: #d4d7a9;
  box-shadow: 3px 2px 10px rgba(115, 138, 120, 0.4);
  padding: 0 2vw 0 2vw;
  z-index: 1;
}

.cover__substrate {
  position: absolute;
  top: 16vw;
  left: 13vw;
  background-color: #ccc99c;
  box-shadow: 3px 2px 10px rgba(115, 138, 120, 0.4);
  height: 20vw;
  width: 47vw;
}

.catalouge {
  height: 50vw;
  position: relative;
}

.catalouge__substrate{
  position: absolute;
  top: 0;
  left: 0;
  height: 30vw;
  width: 45vw;
  background-color: #738a78;
}

.catalouge__card-box {
  display: flex;
  justify-content: space-evenly;
  height: 50vw;
  align-items: center;
  flex-basis: 25%;
}

.card {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.card__image > img {
  height: 25vw;
  box-shadow: 20px 20px 4px rgba(212, 215, 169, 0.8);
}

.card__title-1,
.card__title-2,
.card__title-3,
.card__title-4 {  
  font-size: 2vw;
  padding: 2vw 0 0 2vw;
  position: relative;
}

.card__title-1 svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  top: 2vw;
  left: 8vw;
  display: flex;
  transition: all 0.4s ease;
}

.card__title-2 svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  top: 2vw;
  left: 11vw;
  display: flex;
  transition: all 0.4s ease;
}

.card__title-3 svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  top: 2vw;
  left: 10vw;
  display: flex;
  transition: all 0.4s ease;
}

.card__title-4 svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  top: 2vw;
  left: 12vw;
  display: flex;
  transition: all 0.4s ease;
}

.card__title-1:hover svg,
.card__title-2:hover svg,
.card__title-3:hover svg,
.card__title-4:hover svg {
  transform: translateX(3vw);
}

.card a {
  text-decoration: none;
  color: #536457;
}

.about {
  display: flex;
  height: 35vw;
}

.about__image {width: 60vw;}

.about__image > img {
  width: 100%;
  height: 100%;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d5d9be;
  height: 100%;
  width: 40vw;
  text-align: center;
  color: #536457;
}

.about__title {font-size: 2vw;}

.about__paragraphs {
  width: 30vw;
  font-size: 1.2vw;
}

.button {
  background: #738a78;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1.0em;
  font-size: 1vw;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #536457;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
  margin-top: 2vw;
}

.about__text a {text-decoration: none;}

.button__icon {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #536457;
  right: 0.3em;
  transition: all 0.3s;
}

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #364138;
}

.button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #364138;
}

.footer {
  height: 10vw;
  background-color: #738a78;
  margin-top: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__title {
  font-weight: 300;
  font-size: 2vw;
  margin-bottom: 1vw;
}

.footer__text {
  line-height: 1.5em;
  font-size: 1vw;
}

.footer__sns {display: flex;}

.footer__sns-icon {
  height: 2vw;
  width: 2vw;
  padding: 0.5vw 1.8vw 0 0;
}

.footer__sns-icon > img {
  height: 100%;
  width: 100%;
}